* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    align-items: center;   
    background-color: #AAE691; 
}

.nav {
        float: right;
        padding-top: 0;
        list-style: none; /*откл. маркеров*/
        margin: 0px;
      }

.nav li {
    float: left; /* Выстраивание элементов списка в один ряд. */
    margin-right: 0px; /* создание отступов для того, чтобы не сливались пункты меню. */
    margin-top: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 14px; /* Размер текста в ссылках. */  
}

.nav li a {
    display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    margin-top: 0px;
    padding: 1em;  /* Внутри блочные отступы. */
    color: #575EEB; /* Цвет текста в блоках меню. */
    text-shadow: 1px 3px 0 #fff,
                 2px 3px 0 #fff,
                 2px 1px 0 #fff,
                 1px 1px 0 #fff;
    text-decoration: none;
    position: relative; /* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
  }

.nav li a:hover {
    color: #E6885E;  /* Цвет текста при наведении курсора. */
 }

/*
.navbar ul {
    margin: 0 10%;
  }

  .navbar li {
    display: inline-block;
    font-size: 1em;
    padding: 10px 10px;
  }
*/

h1 {
    display: inline-block;
    margin: 0px;
    font-size: 5.5em;
    font-style: italic;
    color: #575EEB;
    text-shadow: -1px 3px 0 #fff,
                  2px 3px 0 #fff,
                  3px -1px 0 #fff,
                 -1px -1px 0 #000;
 }

     #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
        border-radius: 40%;
    }

    #logo:hover {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
        border-radius: 40%;
    }

    h2 {
        font-size: 3em;
        color: #E6885E;;
    }
    
    h3 {
        font-size: 2em;
        color: #575EEB;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
    }

    ul a {
        font-size: 1.5em;
        color: #5B5B66;
    }

    .cont {
            width: 25%;
            height: auto;
    }