* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
    align-items: center;   
    background-color: #AAE691; 
    line-height: normal;
}

.nav {
        padding-top: 0;
        list-style: none; /*откл. маркеров*/
        margin: 0px;
      }

.nav li {
         float: right; /* Выстраивание элементов списка в один ряд. */
         margin-right: 0px; /* создание отступов для того, чтобы не сливались пункты меню. */
         margin-top: 0px;
         padding: 0px;
         font-weight: bold; 
        }

.nav li a {
    display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    margin-top: 0px;
    padding: 1em;  /* Внутри блочные отступы. */
    color: #575EEB; /* Цвет текста в блоках меню. */
    text-shadow: 1px 3px 0 #fff,
                 2px 3px 0 #fff,
                 2px 1px 0 #fff,
                 1px 1px 0 #fff;
    text-decoration: none;
    font-size: 1.5vw;
    position: relative; /* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
  }

.nav li a:hover {
    color: #E6885E;  /* Цвет текста при наведении курсора. */
 }

/*
.navbar ul {
    margin: 0 10%;
  }

  .navbar li {
    display: inline-block;
    font-size: 1em;
    padding: 10px 10px;
  }
*/

h1 {
    display: inline-block;
    margin: 0px;
    font-size: 9vw;
    font-style: italic;
    color: #575EEB;
    text-shadow: -1px 3px 0 #fff,
                  2px 3px 0 #fff,
                  3px -1px 0 #fff,
                 -1px -1px 0 #000;
 }

     #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
        border-radius: 40%;
        max-width: 100%;
    }

    #logo:hover {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
        border-radius: 40%;
        max-width: 100%;
    }

    h2 {
        font-size: 4.5vw;
        color: #E6885E;
    }
    
    h3 {
        font-size: 3.5vw;
        color: #575EEB;
    }

    h3.cert {
        color: #595B91;
        font-style: italic;
        font-size: 3.5vw;
    }

    div.certificates h4 {
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        font-weight: bold;
        font-size: 3vw;
        color: #595B91;
        font-style: italic;
    }

    div.certificates h5 {
        line-height: normal;
        display: inline-block;
        list-style-type: disc;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        font-size: 2.5vw;
        color: #566650;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 100%;
        height: auto;
    }

    div#main ul {
        list-style-type: none;
    }

    div#main ul a {
        font-size: 2vw;
        color: #5B5B66;
        font-weight: bold;
    }
    
    div#main ul a:hover {
        font-size: 2vw;
        color: #86605A;
        font-weight: bold;
    }


    div#glow ul {
        list-style-image: linear-gradient(to left bottom, #E6885E, #575EEB);
        list-style-position: inside;
    }
   
    div#glow ul a {
        font-size: 2vw;
        color: #5B5B66;
        font-weight: bold;
    }
    div#glow ul a:hover {
        font-size: 2vw;
        color: #86605A;
        font-weight: bold;
    }

    .cont {
            width: 25%;
            max-width: 100%;
            height: auto;
    }

